<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Jil" version="2.15.4" targetFramework="net452" />
  <package id="log4net" version="2.0.8" targetFramework="net452" />
  <package id="MSTest.TestAdapter" version="1.1.11" targetFramework="net452" />
  <package id="MSTest.TestFramework" version="1.1.11" targetFramework="net452" />
  <package id="Sigil" version="4.7.0" targetFramework="net452" />
  <package id="StackExchange.Redis" version="1.2.6" targetFramework="net452" />
</packages>